[color]
	ui = true
[user]
	email = andrew.roetker@puppetlabs.com
	name = Andrew Roetker
[github]
	user = ajroetker
[credential]
	helper = osxkeychain
[alias]
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)'
    fpull = !git fetch upstream && git merge @{u} --ff-only
    new = !git init && git commit --allow-empty -m 'Initial commit'
[hub]
    protocol = https
[core]
	editor = vim
    excludesfile = ~/.gitignore
[push]
	default = matching
